<% if current_user %>
<p>Welcome <%= current_user.username %></p>
<% else %>
<p>Welcome to Chitter</p>
<% end %>
<p id='notice'><%= notice %></p>
<a href='/signup' name='sign-up'>Sign-up</a>
<a href='/login' name='log-in'>Log-In</a>
<a href='/logout' name='log-out'>Log-Out</a>
<% if current_user %>
<a href='/posts/new' name='new_post'>New Post</a>
<% end %>
</br>
<% @posts.each do |post| %>
<p><%= post.body %><p>
<% end %>
